
## will not show up on git changes
## everything that's compiled

dist/

## node libs

node_modules/

## dotenv environment file(s)

.env*
!.env.sample*

tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
bingusboingus.code-workspace
.vscode/settings.*